In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score

In [2]:
import sys
sys.path.append('/Users/bengikoseoglu/anaconda2/pkgs')
sys.path.append('/Users/bengikoseoglu/anaconda2/pckgs')
sys.path.append('/Users/bengikoseoglu')
sys.path

['',
 '/Users/bengikoseoglu/anaconda2/lib/python27.zip',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-darwin',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-mac',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/plat-mac/lib-scriptpackages',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-tk',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-old',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/lib-dynload',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages/aeosa',
 '/Users/bengikoseoglu/anaconda2/lib/python2.7/site-packages/IPython/extensions',
 '/Users/bengikoseoglu/.ipython',
 '/Users/bengikoseoglu/anaconda2/pkgs',
 '/Users/bengikoseoglu/anaconda2/pckgs',
 '/Users/bengikoseoglu']

In [3]:
import pandas as pd
import numpy as np
import datetime
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import *
import plotly.plotly as py
import plotly
import plotly.graph_objs as go
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df=pd.read_excel('cameras_400_3_nocamera.xlsx')

In [5]:
df.head()

,ID,name,Leaf Node,priceCurrency,price,brand,itemCondition,availability,Description,image,gtin12,gtin13,gtin14,gtin8,ratingValue,bestRating,reviewCount,Unnamed: 17,Good Examples
0,jessops-f2dd233dd6100c900432fd2902df8cde,Nikon Coolpix P900 Digital Camera,Bridge Cameras,GBP,479,Nikon,NaN,True,NaN,https://i.jessops.com/images/home/homepage/100...,NaN,NaN,NaN,2018-09-08,10,162.0,NaN,NaN,NaN
1,jessops-ff2be7ba459709194635812c728a17fd,Canon EOS 750D Digital SLR with 18-55mm IS STM...,DSLR,GBP,539,Canon,NaN,True,NaN,https://i.jessops.com/images/home/homepage/100...,NaN,NaN,NaN,2018-02-09,10,361.0,NaN,NaN,NaN
2,jessops-acfa4e6fdc0962be2da5bc1ed8d44357,Canon EOS 5D Mark IV Digital SLR Body,DSLR,GBP,3249,Canon,NaN,True,NaN,https://i.jessops.com/images/home/homepage/100...,NaN,NaN,NaN,NaT,2018-07-09 00:00:00,10.0,25.0,NaN,NaN
3,jessops-cabb446087d8428bfa741078869439b8,Canon EOS 7D Mark II Digital SLR Body,DSLR,GBP,1349,Canon,NaN,True,NaN,https://i.jessops.com/images/home/homepage/100...,NaN,NaN,NaN,NaT,2018-04-09 00:00:00,10.0,268.0,NaN,NaN
4,jessops-8c6e0672aa9297ee8ff4d95fa5e2edc0,Sony A6000 Mirrorless Camera in Black with 16-...,Full Frame Mirrorless Camera,GBP,449,Sony,NaN,True,NaN,https://i.jessops.com/images/home/homepage/100...,NaN,NaN,NaN,NaT,9.0,10.0,107.0,NaN,NaN

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
corpus=df['name']
vectorizer = CountVectorizer()
matrix=vectorizer.fit_transform(corpus).todense()
vocab=vectorizer.vocabulary_

In [7]:
len(vocab)

875

In [8]:
bags_words=pd.DataFrame(matrix, columns=vocab)

In [9]:
bags_words.head()

,cameras,oss,yashica,gz,yellow,32mm,012,gb,go,z212,...,wifi,controller,x70,eos,hx400,karma,fz43,deluxe,cpt,dvr
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [10]:
bags_words['ID']=df['ID']
bags_words['Leaf_Node']=df['Leaf Node']
bags_words.head()

,cameras,oss,yashica,gz,yellow,32mm,012,gb,go,z212,...,x70,eos,hx400,karma,fz43,deluxe,cpt,dvr,ID,Leaf_Node
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,jessops-f2dd233dd6100c900432fd2902df8cde,Bridge Cameras
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,jessops-ff2be7ba459709194635812c728a17fd,DSLR
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,jessops-acfa4e6fdc0962be2da5bc1ed8d44357,DSLR
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,jessops-cabb446087d8428bfa741078869439b8,DSLR
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,jessops-8c6e0672aa9297ee8ff4d95fa5e2edc0,Full Frame Mirrorless Camera

In [11]:
bags_words.Leaf_Node.unique()

array([u'Bridge Cameras', u'DSLR', u'Full Frame Mirrorless Camera',
       u'NonFullFrameMirrorlessCamera', u'Digital Compact Cameras',
       u'Common Use Video Cameras', u'Instant', u'360 Degree Cameras',
       u'Non 360 Degree Cameras', u'Professional Video Cameras', u'Drone',
       u'Not Camera'], dtype=object)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [13]:
X=bags_words.drop(['ID','Leaf_Node'],axis=1)
y=bags_words['Leaf_Node']

In [14]:
y.head()

0                  Bridge Cameras
1                            DSLR
2                            DSLR
3                            DSLR
4    Full Frame Mirrorless Camera
Name: Leaf_Node, dtype: object

In [15]:
X.head()

,cameras,oss,yashica,gz,yellow,32mm,012,gb,go,z212,...,wifi,controller,x70,eos,hx400,karma,fz43,deluxe,cpt,dvr
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
decision_tree = DecisionTreeClassifier()

In [17]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
target_prediction = cross_val_predict(decision_tree, X, y, cv=cv)

In [18]:
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import roc_auc_score

def confusion_matrix_report(y_true, y_pred):
    cm, labels = confusion_matrix(y_true, y_pred), unique_labels(y_true, y_pred)
    column_width = max([len(str(x)) for x in labels] + [5])  # 5 is value length
    report = " " * column_width + " " + "{:_^{}}".format("Prediction", column_width * len(labels))+ "\n"
    report += " " * column_width + " ".join(["{:>{}}".format(label, column_width) for label in labels]) + "\n"
    for i, label1 in enumerate(labels):
        report += "{:>{}}".format(label1, column_width) + " ".join(["{:{}d}".format(cm[i, j], column_width) for j in range(len(labels))]) + "\n"
    return report
    
def analytics(y_true, y_pred):#target of the test data #predictions as 0,1 #model (knnclassifier) #data_test
    print("Confusion Matrix:")
    print(confusion_matrix_report(y_true, y_pred))
    print("Accuracy Score:")
    print(accuracy_score(y_true, y_pred))
    print()
    print("Classification Report:")
    print(classification_report(y_true, y_pred))
    #print("AUC Score:")
    #print(AUC(target_test, model, data_test))

In [19]:
analytics(y,target_prediction) #real value vs. predicted values

Confusion Matrix:
                             ___________________________________________________________________________________________________________________________________________________________________Prediction___________________________________________________________________________________________________________________________________________________________________
                                      360 Degree Cameras               Bridge Cameras     Common Use Video Cameras                         DSLR      Digital Compact Cameras                        Drone Full Frame Mirrorless Camera                      Instant       Non 360 Degree Cameras NonFullFrameMirrorlessCamera                   Not Camera   Professional Video Cameras
          360 Degree Cameras                          10                            1                            0                            0                            1                            0                            0                            1                            5                            0                            3                            0
              Bridge Cameras                           0                           31                            0                            1                           17                            0                            1                            0                            1                            3                            1                            1
    Common Use Video Cameras                           0                            0                            5                            1                            2                            0                            0                            0                            0                            0                            0                           13
                        DSLR                           0                            2                            1                           57                            4                            0                            1                            0                            0                            4                            4                            0
     Digital Compact Cameras                           0                           12                            0                            0                           38                            0                            1                            0                            3                            2                            2                            0
                       Drone                           0                            1                            0                            0                            1                           12                            0                            0                            0                            0                            1                            0
Full Frame Mirrorless Camera                           0                            0                            0                            3                            4                            0                           13                            0                            0                           11                            0                            0
                     Instant                           1                            1                            0                            0                            4                            0                            0                           13                            0                            0                            0                            0
      Non 360 Degree Cameras                           0                            0                            0                            1                            2                            0                            0                            0                           17                            1                            1                            0
NonFullFrameMirrorlessCamera                           0                            5                            0                            3                            7                            0                            5                            0                            0                           30                            0                            0
                  Not Camera                           0                            2                            0                            3                            4                            2                            0                            0                            0                            2                            5                            1
  Professional Video Cameras                           0                            1                            7                            1                            2                            0                            0                            1                            0                            0                            1                           20

Accuracy Score:
0.6004784689
()
Classification Report:
                              precision    recall  f1-score   support

          360 Degree Cameras       0.91      0.48      0.62        21
              Bridge Cameras       0.55      0.55      0.55        56
    Common Use Video Cameras       0.38      0.24      0.29        21
                        DSLR       0.81      0.78      0.80        73
     Digital Compact Cameras       0.44      0.66      0.53        58
                       Drone       0.86      0.80      0.83        15
Full Frame Mirrorless Camera       0.62      0.42      0.50        31
                     Instant       0.87      0.68      0.76        19
      Non 360 Degree Cameras       0.65      0.77      0.71        22
NonFullFrameMirrorlessCamera       0.57      0.60      0.58        50
                  Not Camera       0.28      0.26      0.27        19
  Professional Video Cameras       0.57      0.61      0.59        33

                 avg / total       0.62      0.60      0.60       418